/* Accessible toggle. Source: https://kittygiraudel.com/2021/04/05/an-accessible-toggle/ */

.toggle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  cursor: pointer;
  gap: 1ch;
}

.toggle__text {
  color: var(--color);
}
button.toggle {
  border: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
}

.toggle__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.toggle__display {
  --offset: 0.25em;
  --diameter: 1.8em;

  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  width: calc(var(--diameter) * 2 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 2);
  border: 0.1em solid rgb(0 0 0 / 0.2);
  position: relative;
  border-radius: 100vw;
  background-color: hsl(0, 0%, 100%);
  transition: 250ms;
}

.toggle__display::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 50%;
  left: var(--offset);
  box-sizing: border-box;
  width: var(--diameter);
  height: var(--diameter);
  border: 0.1em solid rgb(0 0 0 / 0.2);
  border-radius: 50%;
  background-color: rgb(201, 201, 201);
  transform: translate(0, -50%);
  will-change: transform;
  transition: inherit;
}

.toggle:focus .toggle__display,
.toggle__input:focus + .toggle__display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}

.toggle:focus,
.toggle:focus:not(:focus-visible) .toggle__display,
.toggle__input:focus:not(:focus-visible) + .toggle__display {
  outline: 0;
}

.toggle[aria-pressed="true"] .toggle__display,
.toggle__input:checked + .toggle__display {
  background-color: var(--background-color);
  border-color: var(--contrast-color);
}

.toggle[aria-pressed="true"] .toggle__display::before,
.toggle__input:checked + .toggle__display::before {
  transform: translate(100%, -50%);
}

.toggle[disabled] .toggle__display,
.toggle__input:disabled + .toggle__display {
  opacity: 0.6;
  filter: grayscale(40%);
  cursor: not-allowed;
}

[dir="rtl"] .toggle__display::before {
  left: auto;
  right: var(--offset);
}

[dir="rtl"] .toggle[aria-pressed="true"] + .toggle__display::before,
[dir="rtl"] .toggle__input:checked + .toggle__display::before {
  transform: translate(-100%, -50%);
}

.toggle__icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  color: inherit;
  fill: currentcolor;
  vertical-align: middle;
  overflow: hidden;
}

.toggle__icon--cross {
  color: hsl(48, 97%, 51%);
}

.toggle__icon--checkmark {
  color: hsl(62, 100%, 93%);
}
