/* Default to light color scheme. Respond to manual light setting. */
:root,
:root.light {
  --background-color: white;
  --color: black;
  --link-color: inherit;
  --contrast-color: black;
}

/* Respond to user settings. */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(0, 0%, 11%);
    --color: hsl(0, 0%, 80%);
    --link-color: hsl(219, 100%, 77%);
    --contrast-color: hsl(0, 0%, 80%);
  }
}

/* Respond to manual dark setting. */
:root.dark {
  --background-color: hsl(0, 0%, 11%);
  --color: hsl(0, 0%, 80%);
  --link-color: hsl(219, 100%, 77%);
  --contrast-color: hsl(0, 0%, 80%);
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

figure {
  margin: 0;
}

a {
  color: var(--link-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content {
  width: min(90vw, 120ch);
}
