.cardlist {
  border: 3px solid black;
  padding: 1rem;
}

.cardlist__list {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.image {
  border: 3px solid black;
}

.image__caption {
  padding: 0.5rem 1rem;
}
