/* Default to light color scheme. Respond to manual light setting. */
:root,
:root.light {
  --background-color: white;
  --color: black;
  --link-color: inherit;
  --contrast-color: black;
}

/* Respond to user settings. */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(0, 0%, 11%);
    --color: hsl(0, 0%, 80%);
    --link-color: hsl(219, 100%, 77%);
    --contrast-color: hsl(0, 0%, 80%);
  }
}

/* Respond to manual dark setting. */
:root.dark {
  --background-color: hsl(0, 0%, 11%);
  --color: hsl(0, 0%, 80%);
  --link-color: hsl(219, 100%, 77%);
  --contrast-color: hsl(0, 0%, 80%);
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

figure {
  margin: 0;
}

a {
  color: var(--link-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content {
  width: min(90vw, 120ch);
  margin-block-end: 50rem;
}

.filler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 5rem;
}

/* Card styles */
.cardlist {
  border: 3px solid var(--contrast-color, black);
  padding: 1rem;
}

.cardlist__list {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.image {
  border: 3px solid var(--contrast-color, black);
}

.image__caption {
  padding: 0.5rem 1rem;
}

/* Skeleton styles */
.skeleton {
  --skeleton-color: hsl(0, 0%, 75%);
  display: grid;
}

.skeleton .loader,
.skeleton #load,
.skeleton .cardlist__list {
  grid-column: 1/1;
  grid-row: 1/1;
}

.skeleton .loader,
.skeleton #load {
  z-index: 1;
  justify-self: center;
  align-self: center;
}

.skeleton .cardlist__list {
  justify-content: space-between;
  opacity: 50%;
}

.skeleton .cardlist__item {
  flex-grow: 1;
}

.skeleton .image {
  border-color: var(--skeleton-color);
}
.skeleton .image > div {
  width: 100%;
  aspect-ratio: 4/5;
  background: var(--skeleton-color);
}

.skeleton h3,
.skeleton p {
  content: "";
  width: 100%;
  height: 1rem;
  background: var(--skeleton-color);
}

.hidden {
  display: none;
}
